body{
	position: relative;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Lato", serif !important;
}

p, span, a{
    font-family: "Raleway", sans-serif !important;
}

.button{
    padding: 12px;
    border: 2px solid;
    border-radius: 3px;
    text-transform: uppercase;
    -webkit-transition: all .3s;
    transition: all .3s;
    font-size: 16px;
}

/* Scrollbar */

    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: grey;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: lightgray;
    }




@media (max-width: 576px){

	#header{
        background-size: initial !important;
        background-position: top !important;
	}

	#header h1{
        font-size: 40px !important;
    }

    #header h4{
        font-size: 16px !important;
    }

	#Photos h2{font-size: 25px !important;}
}

table{
    width:750%;
    border-collapse: collapse;
    background: linear-gradient(to right,red , yellow)
}

table, th, td {
    border-bottom: 1px solid #ddd;
    padding: 15px;
    font-size: 22px;
}


tr:hover {background-color:#706c6c;}

#center{
    text-align: center;
}

#header{
	min-height: 100vh;
	background-image: url(http://www.hdcarwallpapers.com/walls/2019_bugatti_divo_4k_6-HD.jpg);
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#header1{
	padding-top: 80px;
    padding-bottom: 80px;
    min-height: 100vh;
	background-image: url(https://miro.medium.com/max/3840/1*fNEulLiOHD54IaVqObdeGA.jpeg);
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.8;
}

#header1  hr{
    height: 1px;
    border: none;
    background: rgb(255, 0, 0);
    margin: 50px auto;
}

#header1 .row h3{
	border-bottom: 3px solid rgb(255, 255, 255);
    font-size: 40px;
    color: rgb(255, 255, 255);
	padding-bottom: 5px;
    width: min-content;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: -ms-min-content;
    width: -o-min-content;
	margin-bottom: 50px;
}

#header1 .row{
	margin-bottom: 80px;
}

#header1 .Possibilities-item + .Possibilities-item{
	margin-top: 30px;
}

#header1 .Possibilities-item > h4{
	font-size: 25px;
	color: rgb(255, 255, 255);
}

#header1 .Possibilities-item > .progress{
	height: 50px;
	background: rgb(255, 255, 255);
}

#header1 .Possibilities-item .progress-bar{
	background: linear-gradient(to right,red , yellow);
}

#header1 .box + .box{
    margin-top: 50px;
}

#header1 .box h4{
	font-size: 20px;
	color: #222;
}

#header1 .box h6{
	color: grey;
}

#header1 .box p{
	color: #888;
}





.menu-overlay{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.09);
    z-index: 1;
}

.menu{
    position: fixed;
    top: 20px;
    left: 10px;
    z-index: 1;
}


.nav-content{
	position: relative;
    display: none;
    padding: 0;
    background: rgba(0, 0, 0, .8);
}

.nav-content > li{
    list-style: none;
    padding: 5px 20px;
}

.nav-content > li > a{
    display: block;
    text-decoration: none;
    line-height: 32px;
    color: #F5F5F5;
    -webkit-transition: .3s;
    transition: .3s;
    letter-spacing: 1px;
    font-size: 14px;
    padding: 0 !important;
}

section{
    text-align: center;
    font-size: 20px;
}

.nav-content > li > a:hover, .active{
    color: grey !important;
}

.toggler{
    padding: 10px 15px;
    background: rgba(0, 0, 0, .8);
    display: block;
    cursor: pointer;
    width: min-content;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: -ms-min-content;
    width: -o-min-content;
}

.bar1, .bar2, .bar3 {
    width: 25px;
    height: 3px;
    background-color: #F5F5F5;
    margin: 6px 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-5px, 5px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.nav-content #dropdown-menu{
	display: none;
	background: rgba(0, 0, 0, .8);
	position: absolute;
	top: 0;
	left: 100%;
	border-left: 1px solid rgba(0,0,0,.3);
	padding: 10px 0;
}

.nav-content #dropdown-menu ul{
	list-style-type: none;
	padding: 0;
}

.nav-content #dropdown-menu ul li a{
	color: #F5F5F5;
}

#dropdown{
	position: relative;
}

#header .dropdown-item:hover, #header .dropdown-item.active{
	color: grey;
	background: transparent !important;
}


#header > .row{
	min-height: 100vh;
	width: 100vw;
}

#header h1{
	font-size: 80px;
	color: rgb(148, 101, 101);
}

#header hr{
    height: 1px;
    border: none;
    background: rgb(148, 101, 101);
    margin: auto;
}

#header h4{
	font-size: 20px;
	font-weight: normal;
	color: rgb(148, 101, 101);
}





/* A B O U T */




#about{
	padding-top: 80px;
	padding-bottom: 80px;
	background: #2B2B2B;
}

#about h2{
	margin-bottom: 30px;
	color: #F5F5F5;
}

#about p{
	color: #999;
}

#about img{
	width: 180px;
}

@media (max-width: 992px){
	.picture{display: none;}
}



/* C V */



#Information{
	padding-top: 80px;
    padding-bottom: 80px;
    padding-top: 80px;
    padding-bottom: 80px;
    min-height: 100vh;
	background-image: url(https://wallpaperplay.com/walls/full/c/1/d/285064.jpg);
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#Information  hr{
    height: 1px;
    border: none;
    background: rgb(255, 0, 0);
    margin: 50px auto;
}

#Information  h3{
    font-size: 38px;
    color: white;
}

#Information .row h3{
	border-bottom: 3px solid rgb(255, 255, 255);
	font-size: 38px;
	padding-bottom: 5px;
    width: min-content;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: -ms-min-content;
    width: -o-min-content;
	margin-bottom: 50px;
}

#Information .row{
	margin-bottom: 80px;
}

.Possibilities + .Possibilities{
    margin-top: 60px;

}

.Possibilities > h4{
    color: grey;
    margin-bottom: 40px;
}

#Information .Possibilities-item + .Possibilities-item{
	margin-top: 30px;
}

#Information .Possibilities-item > h4{
	font-size: 16px;
	color: #222;
}

#Information .Possibilities-item > .progress{
	height: 40px;
	background: #DDD;
}

#Information .Possibilities-item .progress-bar{
	background: #222;
}

.exp + .exp{
    margin-top: 60px;

}

.exp > h4{
    color: grey;
    margin-bottom: 40px;
}

#Information .box + .box{
    margin-top: 50px;
}

#Information .box h4{
	font-size: 20px;
	color: #222;
}

#Information .box h6{
	color: grey;
}

#Information .box p{
	color: #888;
}




/* P O R T F O L I O */


#Photos{
	padding: 80px 0;
    background-image:
    -webkit-linear-gradient(-45deg, 
                            transparent 33%, rgba(0, 0, 0, .1) 33%, 
                            rgba(0,0, 0, .1) 66%, transparent 66%),
    -webkit-linear-gradient(top, 
                            rgba(255, 255, 255, .25), 
                            rgba(0, 0, 0, .25)),
    -webkit-linear-gradient(left, #09c, #f44);
}


#Photos h2{
    padding: 0;
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    color: rgb(255, 255, 255);
}

#Photos img{
	max-width: 100%;
}

#Photos .row > div{
	margin-bottom: 1.5rem;
    position: relative;
}



#Photos .row div .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: calc(100% - 30px);
    transform: scale(0);
    margin: auto;
    opacity: 0;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    background: rgba(0, 0, 0, .55);
    border-radius: 20%;
}

#Photos .row div:hover .overlay {
    opacity: 1;
    transform: scale(1);
    height: 100%;
    border-radius: 0;
}

#Photos .row div .overlay h3{
    color: #ffffff;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -200%);
            transform: translate(-50%, -200%);
    -ms-transform: translate(-50%, -200%);
    letter-spacing: .05em;
}

.overlay h3.project-title{
    -webkit-transform: translate(-50%, -50%) !important;
            transform: translate(-50%, -50%) !important;
    -ms-transform: translate(-50%, -50%) !important;
}

/*  F O O T E R  */

footer{
    background: rgb(0, 0, 0);
    position: relative;
    padding: 80px;
}

.footer-content{
    text-align: center;
    max-width: 85%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.footer-content p{
    color: #565656;
}

.footer-content a{
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    color: #565656;
    -webkit-transition: .3s;
    transition: .3s;
}

.footer-content a:hover{
    color: #FFF;
}

.footer-content a + a{
    margin-left: 30px;
}

footer h4{
    color: #DDD;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    font-size: 18px;
}


@media (max-width: 768px){
	footer{
        padding: 80px 0;
    }

    .footer-content{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .footer-content > div{
        width: 100% !important;
        margin-bottom: 45px;
    }

    .footer-content h4{
        margin-bottom: 20px;
    }

    .footer-content a + a{
        margin-left: 18px;
    }
}

* {box-sizing: border-box;}
.png {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}